
:root {
    --bg-color: #1a1a1a;
    --text-color: #fff;
    --container-bg-color: #2c2c2c;
    --h1-color: #f0f0f0;
    --number-bg-gradient-start: #3a3a3a;
    --number-bg-gradient-end: #1a1a1a;
    --number-box-shadow-1: #121212;
    --number-box-shadow-2: #484848;
    --placeholder-color: #555;
    --placeholder-bg-color: #2c2c2c;
}

[data-theme="light"] {
    --bg-color: #f0f2f5;
    --text-color: #333;
    --container-bg-color: #ffffff;
    --h1-color: #333;
    --number-bg-gradient-start: #f8f9fa;
    --number-bg-gradient-end: #e9ecef;
    --number-box-shadow-1: #d1d9e6;
    --number-box-shadow-2: #ffffff;
    --placeholder-color: #bbb;
    --placeholder-bg-color: #f8f9fa;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    background-color: var(--container-bg-color);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: background-color 0.3s;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5em;
    color: var(--h1-color);
    transition: color 0.3s;
}

.numbers-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.number, .number-placeholder {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-weight: bold;
    color: var(--text-color);
    background: linear-gradient(145deg, var(--number-bg-gradient-start), var(--number-bg-gradient-end));
    box-shadow: 5px 5px 10px var(--number-box-shadow-1), -5px -5px 10px var(--number-box-shadow-2);
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s;
}

.number:hover {
    transform: scale(1.1);
}

#generate-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}

#generate-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#generate-btn:active {
    transform: translateY(1px);
}

.number-placeholder {
    color: var(--placeholder-color);
    background: var(--placeholder-bg-color);
}

#theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
}
